* {
  font-family: sans-serif;
  font-size: 8pt;
}

window#waybar {
  background-color: #333;
  color: #666;
}

#workspaces button {
  background-color: #333;
  color: #666;
  padding: 0 5px;
}

#workspaces button.focused {
  color: #CCC;
}

#workspaces button:hover {
  background: #CCC;
}

#battery, #clock, #cpu, #memory, #network, #pulseaudio, #temperature, #tray {
  padding: 0 5px;
}
